{% extends 'base.html' %}
{% block title %}Usuń Konia{% endblock %}
{% block content %}
    <div class="centered">
        <form method="POST" class="form-container-big transparency">
            <h1 class="big-title">Usunięcie Konia</h1>
            <p>Czy jesteś pewien/pewna, że chcesz usunąć konia: </p>
            <h2 class="centered">{{ horse.name }}</h2>
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="btn-inline btn-confirm">Potwierdzam</button>
                <a href="{% url 'horse_list' %}" class="btn-inline-cancel">Powrót do listy koni</a>
            </div>
        </form>
    </div>
{% endblock %}