{% extends 'base.html' %}
{% block title %}Usuń Wydarzenie{% endblock %}
{% block content %}
    <div class="centered">
        <form method="POST" class="form-container-big transparency">
            <h1 class="big-title">Usunięcie Wydarzenia</h1>
            <p>Czy jesteś pewien/pewna, że chcesz usunąć wydarzenie:</p>
            <h2 class="centered">{{ event.title }}</h2>
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="btn-inline btn-confirm">Potwierdzam</button>
                <a href="{% url 'calendar' %}" class="btn-inline-cancel">Powrót do kalendarza</a>
            </div>
        </form>
    </div>
{% endblock %}