{% extends 'base.html' %}
{% block title %}Dodaj Trenera{% endblock %}
{% block content %}
    <div class="centered">
        <form method="POST" class="form-container-big big-add_form transparency">
            {% csrf_token %}
            <h1 class="big-title">Nowy Trener</h1>
            <br>
            {{ form.non_field_errors }}

            <div class="form-group-big">
                <label for="{{ form.name.id_for_label }}">Imię i Nazwisko:</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <br>
                    <span class="text-danger">{{ form.name.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big">
                <label for="{{ form.training_type.id_for_label }}">Typ treningu:</label>
                {{ form.training_type }}
                {% if form.training_type.errors %}
                    <br>
                    <span class="text-danger">{{ form.training_type.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big">
                <label for="{{ form.description.id_for_label }}">Opis:</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <br>
                    <span class="text-danger">{{ form.description.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big centered">
                <button type="submit" class="btn-inline">Dodaj</button>
            </div>
        </form>
    </div>
{% endblock %}

