{#<!-- AddTrainingToPlan.html -->#}
{##}
{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <div class="centered">#}
{#        <form method="POST" class="form-container-big big-add_form transparency">#}
{#            {% csrf_token %}#}
{#            <h1 class="big-title">Nowy Trening do Planu: {{ plan.name }}</h1>#}
{#            <br>#}
{#            <div class="form-group-big">#}
{#                <label for="name">Nazwa:</label>#}
{#                <input type="text" id="name" name="name" placeholder="Nazwa treningu" value="{{ name }}">#}
{#                {% if errors.name %}#}
{#                    <br>#}
{#                    <span class="text-danger">{{ errors.name }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="form-group-big">#}
{#                <label for="training">Trening:</label>#}
{#                <select id="training" name="training">#}
{#                    <option value="">Wybierz trening</option>#}
{#                    {% for training_obj in trainings %}#}
{#                        <option value="{{ training_obj.id }}" {% if training_obj.id == training_id %} selected {% endif %}>{{ training_obj.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                {% if errors.training %}#}
{#                    <br>#}
{#                    <span class="text-danger">{{ errors.training }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="form-group-big">#}
{#                <label for="day">Dzień:</label>#}
{#                <select id="day" name="day">#}
{#                    <option value="">Wybierz dzień</option>#}
{#                    {% for day_value, day_label in days %}#}
{#                        <option value="{{ day_value }}" {% if day_value == day %} selected {% endif %}>{{ day_label }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                {% if errors.day %}#}
{#                    <br>#}
{#                    <span class="text-danger">{{ errors.day }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="form-group-big">#}
{#                <label for="time">Godzina:</label>#}
{#                <input type="time" id="time" name="time" value="{{ time }}">#}
{#                {% if errors.time %}#}
{#                    <br>#}
{#                    <span class="text-danger">{{ errors.time }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="form-group-big">#}
{#                <label for="horse">Koń:</label>#}
{#                <select id="horse" name="horse">#}
{#                    <option value="">Wybierz konia</option>#}
{#                    {% for horse_obj in horses %}#}
{#                        <option value="{{ horse_obj.id }}" {% if horse_obj.id == horse_id %} selected {% endif %}>{{ horse_obj.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                {% if errors.horse %}#}
{#                    <br>#}
{#                    <span class="text-danger">{{ errors.horse }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="form-group-big">#}
{#                <label for="trainer">Trener: {{ form.fields.trainer.label}}</label>#}
{#            #}
{#            #}
{#            #}
{#                <select id="trainer" name="trainer">#}
{#                    <option value="">Wybierz trenera</option>#}
{#                    {% for trainer_obj in trainers %}#}
{#                        <p style="#}
{#                        white-space: pre;#}
{#                        background-color: #CD5C5C;#}
{#                        ">{{ trainer_id }}</p>#}
{#                        <option value="{{ trainer_obj.id }}" {% if trainer_obj.id == trainer_id %} selected {% else %} dupa{% endif %}>{{ trainer_obj.name }} {{ trainer_obj.id }} </option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            #}
{#            #}
{#                {{ form.trainer }}#}
{#                {% if form.trainer.errors %}#}
{#                    <br>#}
{#                    <span class="text-danger">{{ form.trainer.errors  }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="form-group-big centered">#}
{#                <button type="submit" class="btn-inline">Dodaj</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}



{% extends 'base.html' %}
{% block content %}
    <div class="centered">
        <form method="POST" class="form-container-big big-add_form transparency">
            {% csrf_token %}
            <h1 class="big-title">Nowy Trening do Planu: {{ plan.name }}</h1>
            <br>
            {{ form.non_field_errors }}

            <div class="form-group-big">
                <label for="id_training">Trening:</label>
                {{ form.training }}
                {% if form.training.errors %}
                    <br>
                    <span class="text-danger">{{ form.training.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big">
                <label for="id_day">Dzień:</label>
                {{ form.day }}
                {% if form.day.errors %}
                    <br>
                    <span class="text-danger">{{ form.day.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big">
                <label for="id_time">Godzina:</label>
                {{ form.time }}
                {% if form.time.errors %}
                    <br>
                    <span class="text-danger">{{ form.time.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big">
                <label for="id_horse">Koń:</label>
                {{ form.horse }}
                {% if form.horse.errors %}
                    <br>
                    <span class="text-danger">{{ form.horse.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big">
                <label for="id_trainer">Trener:</label>
                {{ form.trainer }}
                {% if form.trainer.errors %}
                    <br>
                    <span class="text-danger">{{ form.trainer.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group-big centered">
                <button type="submit" class="btn-inline">Dodaj</button>
            </div>
        </form>
    </div>
{% endblock %}