{% extends 'base.html' %}

{% block content %}

    <div class="transparency-description">
        <h1 class="big-title-description"><span class="logo">Patataj</span> – Twój osobisty trener jeździecki</h1>
        <p style="font-size: 1.5em">
            Patataj to innowacyjna aplikacja stworzona z myślą o jeźdźcach, którzy pragną poprawić swoje
            umiejętności i osiągać lepsze wyniki w jeździectwie, bez względu na wybraną przez Ciebie konkurencję.
            Nasza platforma oferuje kompleksowe plany treningowe dostosowane do indywidualnych potrzeb każdego jeźdźca,
            niezależnie od poziomu zaawansowania.
            Znajdziesz u nas gotowe treningi do skoków, ujeżdżenia i WKKW, lub ułożysz własne, dostosowane do osobistych
            potrzeb.
        </p>
    </div>

    <div class="box-container">
        <div class="box">
            <h2 class="big-title">Gotowe Plany</h2>
            <i class="fas fa-horse-head fa-5x"></i>
            <p>
                Skorzystaj z naszych gotowych treningów oraz planów treningowych przygotowanych przez najlepszych
                specjalistów i ekspertów w jeździectwie. Teraz możesz trenować jak najlepsi!
            </p>
        </div>
        <div class="box">
            <h2 class="big-title">Personalizuj</h2>
            <i class="fas fa-universal-access fa-5x"></i>
            <p>
                Możesz również utworzyć własne spersonalizowane plany treningowe idealnie dostosowane do swoich potrzeb.
                Zaplanuj swój własny plan treningowy i pochwal się przed znajomymi!
            </p>
        </div>
        <div class="box">
            <h2 class="big-title">Kalendarz</h2>
            <i class="far fa-calendar-alt fa-5x"></i>
            <p>
                Dodawaj swoje treningi oraz eventy do kalendarza. Poinformuj stajnię i znajomych o tym, kiedy trenujesz
                i co
                zamierzasz robić na placu/hali.
            </p>
        </div>
    </div>

{% endblock %}
