{% extends 'base.html' %}
{% block content %}
    <div class="filter-and-add">
        <a href="{% url 'training_add' %}" class="btn-add">Dodaj trening</a>
        <a href="{% url 'plan_add' %}" class="btn-add">Dodaj Plan</a>
        <a href="{% url 'add_training_to_any_plan' %}" class="btn-add">Dodaj trening do planu</a>
    </div>

    <div class="training-list-item transparency">
        <h1 class="big-title">Szczegóły Treningu</h1>
        <div class="training-header">
            <h2>{{ training.name }}</h2>
            <div class="training-buttons">
                <a href="{% url 'training_edit' training.id %}" class="btn-edit">Edytuj trening</a>
                <a href="{% url 'training_delete' training.id %}" class="btn-delete">Usuń trening</a>
            </div>
        </div>
        <p>Typ:<br>{{ training.get_type_display }}</p>
        <p>Opis:<br>{{ training.description }}</p>
        <p>Długość:<br>{{ training.length }} min</p>
    </div>

{% endblock %}