{% extends 'base.html' %}
{% block content %}
    <div class="training-list-item">
        <h1 class="big-title">Szczegóły Treningu</h1>
        <div class="training-header">
            <h2>{{ training.name }}</h2>
            <div class="training-buttons">
                <a href="{% url 'training_edit' training.id %}" class="btn-edit">Edytuj trening</a>
                <a href="{% url 'training_delete' training.id %}" class="btn-delete">Usuń trening</a>
            </div>
        </div>
        <p>Typ:<br>{{ training.get_type_display }}</p>
        <p>Opis:<br>{{ training.description }}</p>
        <p>Długość:<br>{{ training.length }} min</p>
    </div>

{% endblock %}