{% extends 'base.html' %}
{% block content %}
    <div class="filter-and-add">
        <a href="{% url 'trainer_add' %}" class="btn-add">Nowy trener</a>
    </div>

    <div class="training-list-item transparency">
        <h1 class="big-title">Szczegóły Trenera</h1>
        <div class="training-header">
            <h2>{{ trainer.name }}</h2>
            <div class="training-buttons">
                <a href="{% url 'trainer_edit' trainer.id %}" class="btn-edit">Edytuj</a>
                <a href="{% url 'trainer_delete' trainer.id %}" class="btn-delete">Usuń</a>
            </div>
        </div>
        <p>Typ treningu:<br>{{ trainer.get_training_type_display }}</p>
        <p>Opis:<br>{{ trainer.description }}</p>
    </div>

{% endblock %}